/* general */
body {
    background:#222;
    color:#f2f2f2;
    font-family: 'Ubuntu', sans-serif;
    font-weight:normal;
}
div, span, p, table {
    display:inline-block;
    font-size:14px;
}
div, span, p, table, td {
    cursor:default;
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none;
    -ms-user-select: none;
    /* Rules below not implemented in browsers yet */
    -o-user-select: none;
    user-select: none;
}
button, .buy, .sell {
    cursor:pointer;
}
.wrapper {
    width:345px;
}
.box {
    border:#fff 3px solid;
    border-radius:5px;
}
.header,
.market,
.stats {
    display:block;
    padding:5px;
}
.market, .stats {
    border-top:#fff 3px solid;
}
ul {
    list-style:none;
}

.price p.sale {
    color:#66ff66;
}
.price p.hike {
    color:#ff5050;
}
/* icons */
.fuel .icon {
    background:url(../img/elements/element_red_39x43.png) 0 0 no-repeat;
    width:39px;
    height:43px;
}
.cargo.valid .icon {
    background:url(../img/bag_open_35x44.png) 0 0 no-repeat;
    width:35px;
    height:46px;
}
.cargo.invalid .icon {
    background:url(../img/bag_closed_34x46.png) 0 0 no-repeat;
    width:34px;
    height:46px;
}
.wallet .icon {
    background:url(../img/ingot_silver_41x37.png) 0 0 no-repeat;
    width:41px;
    height:46px;
}
.map-control {
    background:url(../img/buttons/button_up_36x35.png) 0 0 no-repeat;
    width:36px;
    height:35px;
}
.map-control:active {
    background:url(../img/buttons/button_down_36x35.png) 0 0 no-repeat;
}
/* header */
.header {
}
.location {
    float:left;
}
.location p {
    font-size:4em;
    margin:0;
}
.fuel {
    float:right;
    height:100%;
}
.fuel p, .fuel span {
    font-size:2em;
    margin:0;
    vertical-align:bottom
}
.fuel p.valid {
    color:#fff;
}
.fuel p.invalid {
    color:red;
}
.dialog {
    display:block;
}
.dialog p {
    font-style:italic;
    margin:0;
    padding:0;
}
/* market */
/* table display is stupid */
.market table,
.market tbody,
.market tr {
    width:100%;
    border-collapse:collapse;
}
.market tbody {
    display:table;
}
.market table td {
    border:#888 1px solid;
    margin:0;
    padding:5px;
}
td.buy,
td.buy.fuel,
td.sell {
    background:#fff;
    color:#000;
    font-size:.9em;
}
td.loot,
td.stock {
    background:#666;
    width:20px;
    font-size:.9em;
}
td.loot.empty,
td.stock.empty {
    background:red;
}

/* stats */
.wallet, .cargo {
    height:60px;
    width:49%;
}
.cargo.valid p {
    color:#fff;
}
.cargo.invalid p {
    color:red;
}
.wallet p,
.cargo p {
    margin:0;
    font-size:2em;
    vertical-align:top;
    padding-top:5%;
}
.cargo {
    text-align:right;
}
/*** peripherals ***/
.close {
    float:right;
    font-size:1.5em;
}
/* map */
.map-control {
    position:relative;
    bottom:2px;
    left:5px;
}
.map {
    position:absolute;
    top:0;
    background:#333;
    height:50%;
    width:345px;
}
.map ul li a {
    font-size:1.5em;
    color:#999;
}
.map ul li a:visited {
    color:green;
}
.map ul li b {
    text-decoration:underline;
}
/* alert */
.alert {
    background:#000;
    color:#f2f2f2;
    position:absolute;
    top:0;
    height:100%;
    width:345px;
    padding:10px;
}
.alert p {
    display:block;
}
.alert-title {
    font-weight:bold;
    border-bottom:red 1px solid;
}
.alert-description {
    font-style:italic;
}

/* arrival events (incidents) */
.incident-outcome {
    font-weight:normal;
    display:block;
}
.incident-outcome.good {
    color:#00cc66;
}
.incident-outcome.neutral {
    color:#ccc333;
}
.incident-outcome.bad {
    color:#ff6666;
}
.alert-content button:disabled {
    color:#fff;
}