/* general */
body {
    background:#222;
    color:#f2f2f2;
}
div, span, p, table {
    display:inline-block;
    font-size:14px;
}
div, span, p, table, td {
    cursor:default;
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none;
    -ms-user-select: none;
    /* Rules below not implemented in browsers yet */
    -o-user-select: none;
    user-select: none;
}
button, .buy, .sell {
    cursor:pointer;
}
.wrapper {
    width:345px;
}
.header,
.market,
.stats {
    border:#fff 1px dashed;
    display:block;
    padding:5px;
}
ul {
    list-style:none;
}

/* header */
.fuel {
    float:right;
}

/* market */
.market table,
.market tbody,
.market tr {
    border-collapse:collapse;
}
.market table td {
    border:#888 1px solid;
    margin:0;
    padding:5px;
}
td.buy,
td.sell {
    background:#fff;
    color:#000;
    font-size:.9em;
}
td.loot,
td.stock {
    background:#666;
    width:20px;
    font-size:.9em;
}
td.loot.empty,
td.stock.empty {
    background:red;
}

/* stats */
.dialog {
    display:block;
}
.cargo {
    float:right;
}

/*** peripherals ***/
.close {
    float:right;
    font-size:1.5em;
}
/* map */
#map {
    position:relative;
    bottom:2px;
    left:5px;
}
.map {
    position:absolute;
    top:0;
    background:#333;
    height:50%;
}
.map ul li a {
    font-size:24px;
    color:#999;
}
.map ul li a:visited {
    color:green;
}
.map ul li b {
    text-decoration:underline;
}
/* alert */
.alert {
    background:#000;
    color:#f2f2f2;
    position:absolute;
    top:0;
    height:100%;
    width:345px;
    padding:10px;
}
.alert p {
    display:block;
}
.alert-title {
    font-weight:bold;
    border-bottom:red 1px solid;
}
.alert-description {
    font-style:italic;
}