body {
	height:100%;
	width:100%;
	margin:0;
	background:#111;
	color:#f2f2f2;
	font-family: 'Titillium Web', sans-serif;
}
#fetch {
	margin-top:10px;
	text-align:center;
}
#result {
	width:90%;
	margin:5%;	
}
#photo {
	height:30%;
}
#photo img {
	width:100%;
}
#footer {
	width:100%;
	text-align:center;
}

/* text */
h1 {
	margin:10px 5px;
}
h2 {
	margin:5px;
	font-size:1.2em;
}