/* general */
body {
    background:#000;
    color:#f2f2f2;
    font-family: 'Ubuntu', sans-serif;
    font-weight:normal;
    margin:0;
    overflow-x:hidden;
    overflow-y:scroll;
}
div, span, p, table {
    display:inline-block;
    font-size:14px;
}
div, span, p, table, td {
    cursor:default;
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none;
    -ms-user-select: none;
    /* Rules below not implemented in browsers yet */
    -o-user-select: none;
    user-select: none;
}
button, .buy, .sell {
    cursor:pointer;
}
#wrapper {
    height:100%;
    width:100%;
}
.box div {
    z-index:1;
}
.header,
.stats {
    display:block;
    padding:5px;
}
.market {
    width:100%;
    padding:0;
}
ul {
    list-style:none;
}
.price {
    padding:5px 0;
    width:60px;
    min-width:60px;
}
p.sale {
    color:#66ff66;
}
p.hike {
    color:#ff5050;
}
/* icons */
.fuel .icon {
    background:url(../img/elements/element_red_39x43.png) 0 0 no-repeat;
    width:39px;
    height:43px;
}
.cargo.valid .icon {
    background:url(../img/bag_open_35x44.png) 0 0 no-repeat;
    width:35px;
    height:46px;
}
.cargo.invalid .icon {
    background:url(../img/bag_closed_34x46.png) 0 0 no-repeat;
    width:34px;
    height:46px;
}
.wallet .icon {
    background:url(../img/money_symbol_41x37.png) 0 0 no-repeat;
    width:41px;
    height:46px;
}
.map-control {
    background:url(../img/buttons/button_up_36x35.png) 0 0 no-repeat;
    width:36px;
    height:35px;
}
.map-control:active {
    background:url(../img/buttons/button_down_36x35.png) 0 0 no-repeat;
}
/* header */
.header {
}
.location {
    float:left;
}
.location p {
    font-size:4em;
    margin:0;
}
.fuel {
    float:right;
    text-align:right;
    height:100%;
}
.fuel p, .fuel span.icon {
    font-size:2em;
    margin:0;
    vertical-align:bottom
}
.fuel p.valid {
    color:#fff;
}
.fuel p.invalid {
    color:red;
}
.dialog {
    display:block;
    max-width:600px;
}
.dialog p {
    font-style:italic;
    margin:0;
    padding:0;
}
/* market */
/* table display is stupid */

table,
tbody,
tr {
    width:100%;
    border-collapse:collapse;
    padding:0;
    margin:0;
}
tr:nth-child(even) {
    background: rgba(128, 128, 128, 0.2);
}
tbody {
    display:table;
    border:#fff 3px solid;
    border-left:none;
    border-right:none;
}
table td {
    margin:0;
    padding:5px;
}
td.item, td.item.drawer-open {
    max-width:300px;
    padding:0 5px;
}
.drawer {
    max-width:300px;
    display:block;
    text-align:left;
    color:#4682b4;
    font-size:1em;
    margin:0;
    padding:0 0 5px 0;
}
.cargo .drawer {
    text-align:right;
}
td.item, td.price {
    padding:0 0 0 5px;
    text-align:left;
}
td.buy,
td.buy.fuel,
td.sell {
    color:#fff;
    font-size:.9em;
    border:#fff 1px solid;
    width:25px;
    min-width:25px;
}
td.buy.invalid,
td.sell.invalid {
    color:#444;
}
td.buy,
td.sell,
td.loot,
td.stock {
    text-align:center;
    padding:5px;
}
td.loot,
td.stock {
    width:20px;
    min-width:20px;
    font-size:.9em;
}
.item .title,
.item .sale,
.item .hike {
    margin:0;
}

/* stats */
.wallet, .cargo {
    height:60px;
    width:49%;
}
.cargo.valid p {
    color:#fff;
}
.cargo.invalid p {
    color:red;
}
.wallet p,
.cargo p {
    margin:0;
    font-size:2em;
    vertical-align:top;
    padding-top:2%;
}
.cargo {
    text-align:right;
}
/*** peripherals ***/
.close {
    float:right;
    font-size:1.5em;
}
/* map */
.map-control {
    position:relative;
    bottom:2px;
    left:5px;
}
.map {
    background:#333;
}
.map ul {
    padding:5px;
    margin:0px;
}
.map ul li {
    padding:15px 0;
}
.map ul li a {
    font-size:2em;
    color:#999;
}
.map ul li a:visited {
    color:green;
}
.map ul li a .icon {
    height:40px;
    width:40px;
    background:url(../img/planet_40x40.png) 0 0 no-repeat;
    vertical-align:middle;
    margin-right:10px;
}
.map ul li b {
    text-decoration:underline;
}
.map .description {
    display:block;
    font-size:.8em;
    padding:5px 2px;
    border-bottom:#777 1px solid;
}
/* map close button */
#close-map {
    width:30%;
    margin-left:30%;
    text-align:center;
}
/* alert */
.map, .alert, #browser-alert {
    background:#000;
    color:#f2f2f2;
    position:absolute;
    top:0;
    left:0;
    height:100%;
    max-width:600px;
    padding:2%;
}
.alert p, #browser-alert p {
    display:block;
    text-align:center;
}
#browser-alert {
    display:none;
}
.alert-content {
    width:96%;
}
.alert-content div,
.alert-content span,
.alert-content p {
    width:100%;
}

p.alert-title {
    font-weight:bold;
    border-bottom:red 1px solid;
    text-align:left;
    font-size:1.2em;
}
p.alert-description {
    text-align:center;
}
p.fuel-alert {
    color:#ff5050;
}

/* arrival events (incidents) */
.incident-outcome {
    font-weight:normal;
    display:block;
}
.incident-outcome.good {
    color:#00cc66;
}
.incident-outcome.neutral {
    color:#ccc333;
}
.incident-outcome.bad {
    color:#ff6666;
}
.alert-action {
    height:auto;
    display:block;
    color:#222;
    border:#fff 2px solid;
    border-left:none;
    border-top:none;
    border-radius:3px;
    margin:10px 0;
    padding:0;
}
/* alert action buttons background gradient */
.alert-action {
    background: rgb(226,226,226); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(226,226,226,1) 0%, rgba(208,208,208,1) 47%, rgba(189,189,189,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(226,226,226,1)), color-stop(47%,rgba(208,208,208,1)), color-stop(100%,rgba(189,189,189,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(226,226,226,1) 0%,rgba(208,208,208,1) 47%,rgba(189,189,189,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(226,226,226,1) 0%,rgba(208,208,208,1) 47%,rgba(189,189,189,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(226,226,226,1) 0%,rgba(208,208,208,1) 47%,rgba(189,189,189,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(226,226,226,1) 0%,rgba(208,208,208,1) 47%,rgba(189,189,189,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#bdbdbd',GradientType=0 ); /* IE6-9 */
}
/* click state */
.alert-action:active {
    background: rgb(189,189,189); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(189,189,189,1) 0%, rgba(208,208,208,1) 53%, rgba(226,226,226,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(189,189,189,1)), color-stop(53%,rgba(208,208,208,1)), color-stop(100%,rgba(226,226,226,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(189,189,189,1) 0%,rgba(208,208,208,1) 53%,rgba(226,226,226,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(189,189,189,1) 0%,rgba(208,208,208,1) 53%,rgba(226,226,226,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(189,189,189,1) 0%,rgba(208,208,208,1) 53%,rgba(226,226,226,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(189,189,189,1) 0%,rgba(208,208,208,1) 53%,rgba(226,226,226,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bdbdbd', endColorstr='#e2e2e2',GradientType=0 ); /* IE6-9 */
}
.alert-action.clicked {
    background:#91e374;
    color:#222;
}
.alert-action.unclicked {
    background:#444;
    color:#fff;
}
.alert-action p {
    padding:10px 5px;
    text-align:center;
    margin:0;
    width:99%;
}
.alert-description.game-over {
    text-align:left;
}
/* starfield background */
.starfield {
    height:100%;
    width:100%;
    z-index:-1;
}

/* stars */
.controls {
    display:block;
}
#starfield {
    position:absolute;
    top:0;
    height:100%;
    width:100%;
    background:transparent;
    z-index:-1;
    overflow:hidden;
}
.star {
    height:1px;
    width:1px;
    border-radius:2px;
    background:#f2f2f2;
    margin:20px;
    -moz-box-shadow:    0 0 10px 3px #f2f2f2;
    -webkit-box-shadow: 0 0 10px 3px #f2f2f2;
    box-shadow:         0 0 10px 3px #f2f2f2;
    position:absolute;
}
.star.flare {
    height:3px;
    width:3px;
}

/* ufo */
.star.ufo {
    height:10px;
    width:30px;
    background:#333;
    -moz-border-radius: 10px / 5px;
    -webkit-border-radius: 10px / 5px;
    border-radius: 10px / 5px;
    border-bottom:#666 2px solid;
    overflow:visible;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    opacity:1;
}
.dome {
    height:2px;
    width:13px;
    background:#999;
    border:none;
    border-top:#999 5px solid;
    border-bottom:#999 1px solid;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 2px 2px;
    border-radius: 5px 5px 2px 2px;
    position:relative;
    left:8px;
    top:-8px;
    opacity:.6;
}

.map, .alert, .box {
    position:relative;
    margin:auto;
    display:block;
    padding:0 10px;
    max-width:580px;
    min-height:100%;
}
.map, .alert {
    background:rgba(0, 0, 0, 0.7);
    position:absolute;
    z-index:4;
    padding:0 10px;
    width:100%;
    max-width:600px;
}

/* responsive @media calls for nice browsers*/
@media (max-width: 600px) {
    .map,
    .alert,
    .box {
        width:100%;
        margin:0;
        padding:0;
    }
    td.item,
    td.item.drawer-open,
    td.item .drawer {
        max-width:210px;
    }
}