body {
	height:100%;
	width:100%;
	margin:0;
	background:#000;
	color:#f2f2f2;
	overflow-y:hidden;
}
body, button {
	font-family: 'Fira Sans Extra Condensed', sans-serif;
}
::-webkit-scrollbar {
display: none;
}
#app, .peripheral {
	width:60%;
	margin:0 auto;
	overflow:scroll;
}
#wrapper div {
	/*border:#fff 1px solid;*/
	/* inner borders */
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
div#wrapper,
div#starfield,
div#app {
	border:none;
	overflow-x:hidden;
}
ul {
	margin:0;
	padding:0;
}
/* controls */
#controls {
	border-bottom:#fff 2px solid;
}
#controls ul li {
	display:flex;
}
#controls ul li span {
	flex-grow:1;
	padding:2px 5px;
	line-height:16px;
	margin:auto 0;
}
#controls .stats span {
	width:30%;
}
#controls .stats span:nth-child(2) {
	text-align:center;
}
#controls .stats span:nth-child(3) {
	text-align:right;
}
#controls ul li span#mapToggle, button {
	cursor:pointer;
}
.counter button {
	cursor:default;
}
/* market */
#market ul,
#market ul li {
	width:100%;
}
#market ul li {
	display:flex;
	align-items:center;
}
#market ul li:nth-child(even) {
	background:rgba(255, 255, 255, .2);
}
#market ul li.market-header {
	font-weight:bold;
	border-bottom:#fff 2px solid;
}
#market ul li span {
	flex-grow:1;
	display:inline-block;
	vertical-align:center;
	padding-left:5px;
	min-width:12%;
}
#market ul li span.title {
	width:30%;
	flex-grow:1;
	min-width:24%;
}
#market ul li span.num {
	width:10%;
	flex-grow:0;
	padding-left:0;
	text-align:center;
}
#market ul li span.sale {
	color:#9fe59e;
}
#market ul li span.hike {
	color:#ea8481;
}
/** buy / sell interface and range overrides **/
#market ul li span.counter {
	max-width:50px;
}
#market ul li span.counter button {
	width:45px;
	background:#f2f2f2;
	border-radius:50%;
}
#market ul li span.action {
	border-left:none;
}
#market ul li span.exchange button,
#market ul li span.exchange button.Buy,
#market ul li span.exchange button.Sell {
	width:35px;
	border-radius:50%;
}
#market ul li span.exchange button:focus {
	outline:none;
}
#market ul li span.exchange button.Buy {
	background:#9fe59e;
}
#market ul li span.exchange button.Sell {
	background:#ea8481;
}
/* text */
h1 {
	margin:10px 0;
}
ul li {
	list-style-type:none;
}
.good {
	color:lightGreen;
}
.neutral {
	color:yellow;
}
.bad {
	color:red;
}
.disabled-good {
	background:#618c4e;
	color:#f2f2f2;
}
.disabled-bad {
	background:#8e372f;
	color:#333;
}
.unselectable {
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
}
/* peripherals */
.peripheral {
	position:absolute;
	background:#000;
	border:#fff 2px solid;
	border-radius:5px;
	height:100%;
}
.peripheral ul li {
	display:flex;
	align-items:stretch;
}
#home {
	text-align:center;
}
#home #highScores,
#home #newGame {
	font-size:1.5em;
	min-width:50%;
}
#home ul {
	margin-top:20px;
}
#home ul#scores {
	margin-top:0px;
}
#home li {
	width:60%;
	margin:auto;
	text-align:center;
}
#home p,
#home button {
	margin:auto;
	text-align:center;
}
#scores .toggle {
	display:none;
}
#scores li:nth-child(odd) {
	margin-top:20px;
}
#scores li:nth-child(even) {
	font-size:.9em;
	color:#999;
}
#scores ul:first-child {
	display:block;
}
#home ul li button {
	width:50%;
}
#mapToggle {
	min-width:50px;
	min-height:50px;
	background:transparent url("../img/map_icon.png") no-repeat scroll 14px 1.5em / fit;
	text-align:center;
	font-size:.9em;
}
.location {
	border-bottom:#fff 2px solid;
}
#map ul li {
	border-bottom:#fff 1px solid;
	margin:5px;
}
#map ul li:last-child {
	border:none;
}
#map ul li span.title {
	min-width:25%;
	max-width:25%;
	min-height:4em;
	font-size:1.1em;
	margin-right:5px;
	background:url(../img/planets/planet1.png) 0 1em no-repeat transparent;
	background-size:3em 3em;
}
/* map icons */
#map ul li span.title[data=Earth] {
	background-image:url(../img/planets/planet15.png);
}
#map ul li span.title[data=Triton] {
	background-image:url(../img/planets/planet20.png);
}
#map ul li span.title[data=Rilos] {
	background-image:url(../img/planets/planet10.png);
}
#map ul li span.title[data=Arrakis] {
	background-image:url(../img/planets/planet5.png);
}
#map ul li span.title[data=Risa] {
	background-image:url(../img/planets/planet4.png);
}
#map ul li span.title[data=Zarkon] {
	background-image:url(../img/planets/planet6.png);
}
#map ul li span.title[data=Klendathu] {
	background-image:url(../img/planets/planet12.png);
}
#map ul li span.title[data=Colonia] {
	background-image:url(../img/planets/planet17.png);
}

/* end map icons */
#welcome h1,
#welcome p {
	margin-left:5px;
	margin-right:5px;
}
#alert {
	display:flex;
	text-align:center;
	align-items:center;
	justify-content:center;
}
#alert ul,
#alert ul li button {
	width:90%;
}
#welcome,
#incident ul li {
	display:block;
	text-align:center;
}
#alert ul li p,
#incident ul li p {
	width:90%;
	margin:10px auto;
	line-height:18px
}
#alert ul li.header,
#incident ul li.header {
	font-size:1.3em;
	line-height:1em;
}
#alert ul li.header p,
#incident ul li.header p {
	line-height:20px;
}
#alert ul li.header p:first-child,
#incident ul li.header p:first-child {
	font-size:1.5em;
}
#alert button,
#incident button,
#welcome button,
#gameOver button {
	width:60%;
	margin:0 auto 5px auto;
	display:inline-block;
	font-size:1.1em;
	line-height:1.2em;
}
#gameOver {
	text-align:center;
}

/* debug panel */
.debug-alert {
	background:yellow;
	color:black;
	text-align:center;
}
#debugPanel {
	border:2px solid blue;
}
#debugPanel .increase {
	background:green;
}
#debugPanel .decrease {
	background:red;
}
/* ---------------------- */
/* starfield background */
#starfield {
    position:absolute;
    top:0;
    height:100%;
    width:100%;
    background:transparent;
    z-index:-1;
    overflow:hidden;
    border:none;
}
.star {
    height:1px;
    width:1px;
    border-radius:2px;
    background:#f2f2f2;
    margin:20px;
    -moz-box-shadow:    0 0 10px 3px #f2f2f2;
    -webkit-box-shadow: 0 0 10px 3px #f2f2f2;
    box-shadow:         0 0 10px 3px #f2f2f2;
    position:absolute;
}
.star.flare {
    height:3px;
    width:3px;
}

/* ufo */
.star.ufo {
    height:10px;
    width:30px;
    background:#333;
    -moz-border-radius: 10px / 5px;
    -webkit-border-radius: 10px / 5px;
    border-radius: 10px / 5px;
    border-bottom:#666 2px solid;
    overflow:visible;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    opacity:1;
}
.dome {
    height:2px;
    width:13px;
    background:#999;
    border:none;
    border-top:#999 5px solid;
    border-bottom:#999 1px solid;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 2px 2px;
    border-radius: 5px 5px 2px 2px;
    position:relative;
    left:8px;
    top:-8px;
    opacity:.6;
}
/* ---- end starfield background ---- */
/* responsive calls */
@media (max-width: 600px) {
	body, .location #description {
		font-size:1em;
		line-height:1.3em;
	}
	button {
		background:#f2f2f2;/* chrome mobile emulator fix */
	}
	#app, .peripheral {
		width:100%;
	}
	#incident ul li button,
	#welcome button {
		width:90%;
		font-size:.9em;
	}
	#map ul li span.title {
		font-size:1.5em;
	}
	#map ul li span.description {
		line-height:1.2em;
	}
}