/* general */
body {
    background:#222;
    color:#f2f2f2;
}
div,
span,
p,
table {
    display:inline-block;
}
div {
    width:inherit;
    max-width:inherit;
}
.header,
.market,
.stats {
    border:#fff 1px dashed;
    display:block;
}
ul {
    list-style:none;
}

/* header */
.location {
    margin-left:5px;
}
.fuel {
    margin-right:5px;
    float:right;
}

/* market */
.market table {
    border-collapse:collapse;
}
.market table td {
    border:#888 1px solid;
    margin:0;
    padding:5px;
}
td.buy,
td.sell {
    background:#fff;
    color:#000;
}
td.loot,
td.stock {
    background:#666;
}
td.loot.empty,
td.stock.empty {
    background:red;
}

/* map */
.map {
    position:absolute;
    top:0;
    background:#333;
}
.map ul li a {
    font-size:24px;
    color:#999;
}
.map ul li a:visited {
    color:green;
}

/* stats */
.dialog {
    display:block;
    max-width:inherit;
}

/* peripherals */
.map ul li b {
    text-decoration:underline;
}