body {
	height:100%;
	width:100%;
	margin:0;
	background:#000;
	color:#f2f2f2;
	font-family: 'Titillium Web', sans-serif;
}
#app, .peripheral {
	width:60%;
	margin:0 auto;
	overflow:hidden;
}
#wrapper div {
	border:#fff 1px solid;
	/* inner borders */
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
div#wrapper, div#starfield, div#app {
	border:none;
}
ul {
	margin:0;
	padding:0;
}
/* controls */
#controls ul li {
	display:flex;
}
#controls ul li span {
	flex-grow:1;
	padding:2px 5px;
	line-height:16px;
	margin:auto 0;
}
#controls .stats span:nth-child(2) {
	text-align:center;
}
#controls .stats span:nth-child(3) {
	text-align:right;
}
/* market */
#market ul,
#market ul li {
	width:100%;
}
#market ul li {
	display:flex;
	align-items:center;
}
#market ul li:nth-child(even) {
	background:rgba(255, 255, 255, .2);
}
#market ul li.market-header {
	font-weight:bold;
	border-bottom:#fff 2px solid;
}
#market ul li span {
	flex-grow:1;
	display:inline-block;
	vertical-align:center;
	padding-left:5px;
}
#market ul li span.title {
	width:30%;
	flex-grow:0;
}
#market ul li span.num {
	width:10%;
	flex-grow:0;
	padding-left:0;
	text-align:center;
}
#market ul li span.sale {
	color:#9fe59e;
}
#market ul li span.hike {
	color:#ea8481;
}
/** buy / sell interface and range overrides **/
#market ul li span.counter {
	max-width:50px;
}
#market ul li span.counter button {
	width:45px;
	background:#f2f2f2;
	border-radius:50%;
}
#market ul li span.action {
	border-left:none;
}
#market ul li span.exchange button,
#market ul li span.exchange button.Buy,
#market ul li span.exchange button.Sell {
	width:35px;
	border-radius:50%;
}
#market ul li span.exchange button:focus {
	outline:none;
}
#market ul li span.exchange button.Buy {
	background:#9fe59e;
}
#market ul li span.exchange button.Sell {
	background:#ea8481;
}
/* text */
h1 {
	margin:10px 0;
}
ul li {
	list-style-type:none;
}
.good {
	color:lightGreen;
}
.neutral {
	color:yellow;
}
.bad {
	color:pink;
}
/* peripherals */
.peripheral {
	position:absolute;
	background:#000;
	border:#fff 2px solid;
	border-radius:5px;
}
.peripheral ul li {
	display:flex;
	align-items:stretch;
}
/** map **/
#map ul li {
	border-bottom:#fff 1px solid;
}
#map ul li span.title {
	min-width:25%;
	max-width:25%;
	font-size:2em;
	margin-right:5px;
}
/* indicent peripheral */
#incident ul li {
	border:red 1px solid;
	display:block;
	text-align:center;
}
#incident ul li p {
	width:100%;
	margin:10px auto;
	line-height:18px
}
#incident ul li.header {
	font-size:1.3em;
	line-height:1em;
}
#incident ul li.header p {
	line-height:20px;
}
#incident ul li.header p:first-child {
	font-size:1.5em;
}
#incident ul li button {
	width:60%;
	margin:0 auto 5px auto;
	display:inline-block;
	font-size:1.1em;
}

/* tour overlay */
div#touroverlay {
	border:none;
}
div#tourtip {
	max-height:500px;
	max-width:450px;
	overflow:scroll;
}
div#tourControls {
	top:4px !important;
	right:75px !important;

}
/* ---------------------- */
/* starfield background */
#starfield {
    position:absolute;
    top:0;
    height:100%;
    width:100%;
    background:transparent;
    z-index:-1;
    overflow:hidden;
    border:none;
}
.star {
    height:1px;
    width:1px;
    border-radius:2px;
    background:#f2f2f2;
    margin:20px;
    -moz-box-shadow:    0 0 10px 3px #f2f2f2;
    -webkit-box-shadow: 0 0 10px 3px #f2f2f2;
    box-shadow:         0 0 10px 3px #f2f2f2;
    position:absolute;
}
.star.flare {
    height:3px;
    width:3px;
}

/* ufo */
.star.ufo {
    height:10px;
    width:30px;
    background:#333;
    -moz-border-radius: 10px / 5px;
    -webkit-border-radius: 10px / 5px;
    border-radius: 10px / 5px;
    border-bottom:#666 2px solid;
    overflow:visible;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    opacity:1;
}
.dome {
    height:2px;
    width:13px;
    background:#999;
    border:none;
    border-top:#999 5px solid;
    border-bottom:#999 1px solid;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 2px 2px;
    border-radius: 5px 5px 2px 2px;
    position:relative;
    left:8px;
    top:-8px;
    opacity:.6;
}
/* ---- end starfield background ---- */
/* debug */
