body {
	height:100%;
	width:100%;
	margin:0;
	background:#000;
	color:#f2f2f2;
	font-family: 'Titillium Web', sans-serif;
}
#wrapper {
	border:none;
}
#app {
	width:60%;
	margin:0 auto;
	overflow:hidden;
}
div {
	border:#fff 1px solid;
	/* inner borders */
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
ul {
	margin:0;
	padding:0;
}
/* controls */
#controls ul li {
	display:flex;
}
#controls ul li span {
	flex-grow:1;
	padding:2px 5px;
}
#controls ul li span.map {
	flex-grow:0;
	flex-basis:0;
}

/* market */
#market {
	overflow-x:hidden;
	overflow-y:scroll;
}
#market ul,
#market ul li {
	width:100%;
}
#market ul li {
	display:flex;
	align-items:stretch;
}
#market ul li.market-header {
	border-bottom:#fff 2px solid;
}
#market ul li span {
	flex-grow:1;
	display:inline-block;
	vertical-align:center;
}
#market ul li span.title {
	width:30%;
	flex-grow:0;
}
#market ul li span.num {
	width:10%;
	flex-grow:0;
}
#market ul li.sale span.title span {
	color:#9fe59e;
}
#market ul li.hike span.title span {
	color:#ea8481;
}
/* text */
h1 {
	margin:10px 0;
}
ul li {
	list-style-type:none;
}

/* ---------------------- */
/* starfield background */
#starfield {
    position:absolute;
    top:0;
    height:100%;
    width:100%;
    background:transparent;
    z-index:-1;
    overflow:hidden;
    border:none;
}
.star {
    height:1px;
    width:1px;
    border-radius:2px;
    background:#f2f2f2;
    margin:20px;
    -moz-box-shadow:    0 0 10px 3px #f2f2f2;
    -webkit-box-shadow: 0 0 10px 3px #f2f2f2;
    box-shadow:         0 0 10px 3px #f2f2f2;
    position:absolute;
}
.star.flare {
    height:3px;
    width:3px;
}

/* ufo */
.star.ufo {
    height:10px;
    width:30px;
    background:#333;
    -moz-border-radius: 10px / 5px;
    -webkit-border-radius: 10px / 5px;
    border-radius: 10px / 5px;
    border-bottom:#666 2px solid;
    overflow:visible;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    opacity:1;
}
.dome {
    height:2px;
    width:13px;
    background:#999;
    border:none;
    border-top:#999 5px solid;
    border-bottom:#999 1px solid;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 2px 2px;
    border-radius: 5px 5px 2px 2px;
    position:relative;
    left:8px;
    top:-8px;
    opacity:.6;
}
/* ---- end starfield background ---- */
/* debug */
span {
	border:1px solid red;
}