@font-face {
	font-family: 'spaceFont';
	src: url('../fonts/CFSpaceship-Regular.ttf')  format('truetype');
}

body {
	background: #222;
	color: #f2f2f2;
}

.content div {
	color: #333;
}

/* fonts */
body,
.ui-widget {
	font-family: 'Ubuntu', sans-serif;
}

h1 {
	font-family: "spaceFont";
	text-transform: uppercase;
}

/* end fonts */
.wrapper {
	width: 100vw;
	position: relative;
	left: 50%;
	right: 50%;
	margin-left: -50vw;
	margin-right: -50vw;
	text-align: center;
}

/* populations */
#populations span {
	display: block;
	margin: 5px 0;
	text-align: left;
	background-image: linear-gradient(to right, gold, orange);
}
