body {
	height:100%;
	width:100%;
	margin:0;
	background:#111;
	color:#f2f2f2;
	font-family: 'Titillium Web', sans-serif;
}
#fetch {
	margin-top:10px;
	text-align:center;
}
#term {
	height:24px;
	text-align:center;
	position:relative;
	top:1px;
}
#term, #search {
	background:#000;
	color:#f2f2f2;
	font-size:14px;
}
/* get rid of ugly jQueryUI glow effect */
#search:focus {
	outline:#fff 1px solid;
}
#result {
	width:90%;
	margin:10px 5%;	
}
#banner, #title {
	text-align:center;
}
#photo {
	width:100%;
	text-align:center;
}
#photo img {
	max-width:100%;
	max-height:600px;
	border:#f2f2f2 2px solid;
	border-radius:3px;
}
#footer {
	width:100%;
	text-align:center;
}

/* text */
h1 {
	margin:10px 5px;
}
h2 {
	margin:5px;
	font-size:1.1em;
	line-height:1.2em;
}
p {
	margin:5px;
}
.alert {
	color:#ffff00;
	text-align:center;
}