html, body {
	background:#000;
	color:#f2f2f2;
	text-align:center;
	font-family: 'Ubuntu', sans-serif;
	width:100%;
}
button {
	height:80px;
	width:140px;
	font-size:28px;
	border-radius:10px;
}
h1 {
	font-size:48px;
	margin:10 0;
}
p {
	text-transform:capitalize;
	font-size:24px;
	margin:20px 0 10px 0;
}
/* alert section */
.alert p {
	font-size:24px;
}
/* section headers */
h3 {
	font-size:32px;
	margin:10px 0;
}
hr {
	border:#fff 1px solid;
}
/* entries */
.grid {
	width:80%;
	margin:20px auto;
}
.grid div {
	display:inline-block;
	text-align:center;
	margin:0;
	width:25%;
	height:200px;
	max-width:200px;
	background-position:center;
	background-size:contain;
	background-repeat:no-repeat;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.grid div p {
	font-size:22px;
	line-height:30px;
	background:rgba(0,0,0,.8);
	vertical-align:middle;
	opacity:0;
}
.grid div:hover {
	background-color:#333;
}
.grid div:hover p {
	opacity:1;
}