html, body {
	background:#000;
	color:#f2f2f2;
	text-align:center;
	font-family: 'Ubuntu', sans-serif;
	width:100%;
}
button {
	height:80px;
	width:140px;
	font-size:28px;
	border-radius:10px;
}
h1 {
	font-size:48px;
	margin:10 0;
}
p {
	font-size:22px;
	line-height:30px;
	background:rgba(0,0,0,.8);
	vertical-align:middle;
	opacity:0;
}
ul li:hover p {
	opacity:1;
}
ul {
	display:flex;
	flex-wrap:wrap;
	width:80%;
	height:100%;
	margin:20px auto;
}
ul li {
	text-align:center;
	list-style-type:none;
	margin:0;
	min-width:30%;
	min-height:200px;
	max-width:200px;
	max-height:200px;
	background-position:center;
	background-size:contain;
	background-repeat:no-repeat;
	border:#fff 1px solid;
}