<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>DataVis</title>
	<meta name="description" content="Data Visualisation">
	<meta name="author" content="drewpeifer">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- jquery / UI -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
	<!-- Vue -->
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<!-- D3.js -->
	<script src="https://ajax.googleapis.com/ajax/libs/d3js/5.7.0/d3.min.js"></script>
	<!-- Chart.js
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
	<!-- moment.js
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.min.js"></script>
	<!-- fonts -->
	<link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
	<!-- custom -->
	<link rel="stylesheet" href="css/styles.css">
	<!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>
	<div class="wrapper">
		<div class="header">
			<h1>Data Visualisations</h1>
		</div>
		<div class="content">
			<ul>
				<li><a href="#planets">Planets</a></li>
				<li><a href="#populations">U.S. Populations</a></li>
			</ul>
			<div id="populations">
				<h2>U.S. Populations 1960-2019</h2>
				<p>Powered by <a href="/">D3</a> and data from
					<a href="/">
						The World Bank API
					</a>
				</p>
			</div>
			<div id="planets">
				<h2>Planetary Comparisons</h2>
				<p><i>How does Earth stack up to its neighbors?</i></p>
				<hr />
				<div id="planetApp">
					<label for="userWeight">
						<strong>BONUS!</strong> Enter your weight to see it calculated for each planet:
					</label>
					<input
						id="userWeight"
						class="ui-corners-all"
						placeholder="Enter weight"
						v-model="weight" />
					<br /><br />
					<small>Powered by <a href="/">Vue.js</a> and data from Wikipedia</small>
					<div v-for="(planet, index) in planets" class="planet-card">
						<hr />
						<h3>{{ planet.name }}</h3>
						<div v-if="planet.name != 'Earth'" class="img-wrap">
							<img class="main planet"
							v-bind:src="'img/' + planet.name + '.jpg'"
							v-bind:class="planet.name"
							v-bind:style="{ transform: 'rotate(' + planet.axial_tilt_degrees + 'deg)' }"/>
							<img class="planet scale-earth"
							src="img/Earth.png"
							v-bind:style="{ transform: 'rotate(' + planet.axial_tilt_degrees + 'deg) scale(' + scaleRatio(planet) + ')' }"/>
							<small>(Earth for scale)</small>
						</div>
						<div v-else class="img-wrap-earth">
							<img class="planet earth"
							src="img/Earth.png"
							v-bind:style="{ transform: 'rotate(' + planet.axial_tilt_degrees + 'deg)' }"/>
						</div>
						<div class="stat-wrap">
							<p>Your weight on {{ planet.name }}: {{ weight * planet.relative_gravitational_modifier }}
							<p v-if="planet.name != 'Earth'">Equatorial Diameter: {{ planet.relative_equatorial_diameter }} x Earth diameter</p>
							<p v-if="planet.name != 'Earth'">Mass: {{ planet.relative_mass }} x Earth mass</p>
							<p v-if="planet.name != 'Earth'">Orbital Period: {{ planet.orbital_period_years }} Earth years</p>
							<p v-if="planet.name != 'Earth'">Rotational Period: {{ planet.rotation_period_days }} Earth days</p>
							<p>Number of Moons: {{ planet.confirmed_moons }}</p>
							<p>Axial Tilt: {{ planet.axial_tilt_degrees }}&deg;</p>
							<p>Rings: {{ planet.rings | capitalize }}</p>
							<p>Atmosphere: {{ planet.atmosphere | capitalize }}</p>
							<p v-if="planet.name != 'Earth'">Gravity:
								{{ planet.relative_gravitational_modifier }} x Earth gravity
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer"></div>
	</div>
<!-- scripts -->
	<script src="js/scripts.js"></script>
</body>
</html>