body {
    padding:0;
    margin:0;
    font-family: 'Architects Daughter', cursive;
}
div {
    width:100%;
    text-align:center;
    font-weight:bold;
    margin:0;
    padding:10px 0;
}
#wrapper {
    padding:0;
    margin:0;
}
.banner {
    background:#382B19;
    color:#A5947F;
}
.intro {
    background:#A5947F;
    color:#382B19;
    padding:5px 0;
    font-size:1.1em;
}
.main {
    background:#382B19;
    color:#A5947F;
}
.footer {
    height:15px;
    padding:10px 0;
    background:#A5947F;
    color:#382B19;
    font-size:12px;
    text-align:center;
}
/* text */
h1, b, label {
    font-family: 'Permanent Marker', cursive;
}
h2, h3, p {
    font-family: 'Architects Daughter', cursive;
}
h1 {
    font-size:3em;
}
h2 {
    margin:5px 0;
    font-size:1.3em;
}
h3 {
    margin:0 0 10px 0;
}
p {
    margin:5px auto;
    line-height:1.3em;
    width:70%;
    font-weight:bold;
    font-size:1em;
}
.intro p b {
    font-size:1.1em;
}
.form p {
    width:100%;
    font-height:1.1em;
    margin:0 0 20px 0;
}
/* form */
.form {
    height:100%;
    width:80%;
    margin:0 auto;
    padding:0;
}
label,
input,
fieldset {
    width:49%;
    margin:0 0 10px 0;
    padding:0;
    display:inline-block;
    vertical-align:top;
}
fieldset {
    width:100%;
    border:none;
}
fieldset label,
fieldset input {
    width:24%;
}